service nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service-st
    class hal
    user nfc
    group nfc oem_2912
    # AIDL interfaces
    interface aidl android.hardware.nfc.INfc/default
    # don't auto restart
    oneshot
    # start only when requested
    disabled